.project-wrapper
  = render :partial => 'partials/nav'
  section#project-image
    img src=@project.wide_image(:thumb)
  section#project-description
    .row
      h1.text-center.red
        = @project.name
    .container-fluid
      p
        == @project.description

  - if @project.technologies.present?
    section#technologies
      .container
        .row
          h2.text-uppercase.text-center.red Задействованные технологии
        .row
          .technology-slider
            - @project.technologies.each do |technology|
              .technology
                a href=technology.link target="_blank"
                  img src=technology.image(:thumb)

coffee:
  $('.technology-slider').slick
    dots: true
    infinite: true
    speed: 300
    autoplay: true
    arrows: true
    slidesToShow: 4
    slidesToScroll: 4
    responsive: [
      {
        breakpoint: 1024
        settings:
          slidesToShow: 3
          slidesToScroll: 3
          infinite: true
          dots: true
      }
      {
        breakpoint: 600
        settings:
          slidesToShow: 2
          slidesToScroll: 2
      }
      {
        breakpoint: 480
        settings:
          arrows: false
          dots: false
          slidesToShow: 1
          slidesToScroll: 1
      }
    ]