# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 1f108f836cdedcb6778c7415c190420f35f3a6ede7c8d545beb669cc9f0625f25084d9974c63767ad39090906941e9ae084fb84d1b0c1b5b1822df9a2799ffe2

test:
  secret_key_base: 81052e8dc66ec22b23f2c9dcf9b3be332a8bcfe5525f593571f4fe6a0954ea13ddb7ccee7abdd02dc910885a514c9e01be7a77f8a783c8400eddf2eb32919c90

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
