.bannerscollection_zoominout.opportune .leftNav {
  background: url(asset_path("skins/opportune/leftNavOFF.png")) 0 0 no-repeat;
}

.bannerscollection_zoominout.opportune .leftNav:hover {
  background:url(asset_path("skins/opportune/leftNavON.png")) 0 0 no-repeat;
}

.bannerscollection_zoominout.opportune .rightNav {
  background:url(asset_path("skins/opportune/rightNavOFF.png")) 0 0 no-repeat;
}

.bannerscollection_zoominout.opportune .rightNav:hover {
  background:url(asset_path("skins/opportune/rightNavON.png")) 0 0 no-repeat;
}

.bannerscollection_zoominout.opportune .bottomNavButtonOFF {
  background:url(asset_path("skins/opportune/bottomNavOFF.png")) 0 0 no-repeat;
}

.bannerscollection_zoominout.opportune .bottomNavButtonON {
  background:url(asset_path("skins/opportune/bottomNavON.png")) 0 0 no-repeat;
}

.bannerscollection_zoominout.opportune .bottomOverThumb {
  background:url(asset_path("skins/opportune/bottomOverThumbBg.png")) 0 0 no-repeat;
}

.bannerscollection_zoominout.opportune .playOver {
  background:url(asset_path("skins/opportune/play_overOFF.png")) 0 0 no-repeat;
}

.bannerscollection_zoominout.opportune .playOver:hover {
  background: url(asset_path("skins/opportune/play_overON.png")) 0 0 no-repeat;
}

.bannerscollection_zoominout.opportune .playOver:hover {
  background: url(asset_path("skins/opportune/play_overON.png")) 0 0 no-repeat;
}

.textElement11_opportuneFullScreen{
  text-transform: uppercase;
}